[Unit]
Description=TB Exporter Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env /home/tops/tb-export/tb-exporter

[Install]
WantedBy=multi-user.target